@font-face {
    font-family: netflix;
    src: url(font/BebasNeue-Regular.ttf);
}
* {
    text-decoration: none;
}
body{  
    margin: 0 auto;
    background: rgb(30, 30, 30);
    padding: 0 20px 20px 20px;
}
html{
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
    height: 100%;
}
#weekly{
    font-weight: bold;
    font-size: 4em;
    font-family: netflix;
    color: red;
}
h1,
h2{
    color: red;
    margin: 0;
    padding: 20px 0;
    font-family: netflix;
    font-size: 127px;
}
a{
    color: white;
    font-family: netflix;
    font-size: 50px;
}
button{
    background-color: red;
    border-radius: 25px;
    padding: 5px 10px;
    margin-left: 250px; 
}